@import url('https://fonts.googleapis.com/css?family=B612+Mono:700&display=swap');

#menu
{
	
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
}
*{
	font-family: "B612+Mono",sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 10;
	background-color: #273445;

}
header{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav_links{
	
	list-style: none;
}

.nav_links li {
	
	display: inline-block;
	padding: 10px 30px;
}

.nav_links li a{
	color: white;
	text-decoration: none;
}

.nav_links li a:hover{
	color: blue;
}
section{
	font-weight: 200;
}
h2,h1{
	text-align: center;
}
.images{
	margin: 12px;
  	/*margin-left: 5px;
	margin-right: 5px;*/
	 
}
.song{
	display: block;
	width: auto;
	margin: 0 auto; 
}

div{
	padding-left: 40%;
}
.QR{
	margin: 10px auto 20px;
    display: block;
}